html{
	height: 100%
}
body{
	max-width: 100%;
	min-height: 100%;
	background-color: rgba(254,254,254,1);
}


/*loading spinner*/
.loading{
	height: 100vh;
	width: 100%;
	z-index: 3;
	background-color: #FFF;
	position: fixed;
}

.spinner {
  margin: 50vh auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.cover{
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	overflow: hidden;
}

.wrapper{
	height: 100%;
	width: 100%;
}

.coverImg{
	background-image: url("../images/coverImg.jpg");
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
	display: none;

	/*-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);*/
}

@-webkit-keyframes dropdown {
  	0%{ 
		transform: translateY(-20px);
		opacity: 0;
	}
  	100%{
  		transform: translateY(0px);
  		opacity: 1;
  	}
}
@-moz-keyframes dropdown {
	0%{ 
		transform: translateY(-20px);
		opacity: 0;
	}
  	100%{
  		transform: translateY(0px);
  		opacity: 1;
  	}
}
@-o-keyframes dropdown {
	0%{ 
		transform: translateY(-20px);
		opacity: 0;
	}
  	100%{
  		transform: translateY(0px);
  		opacity: 1;
  	}
}
@keyframes dropdown {
	0%{ 
		transform: translateY(-20px);
		opacity: 0;
	}
  	100%{
  		transform: translateY(0px);
  		opacity: 1;
  	}
}

.coverTitle{
	font-family: 'Tangerine', cursive;
	position: absolute;
	top: 40vh;
	text-align: center;
	text-shadow: 10px 10px 20px #FFFFFF;
	left: 0;
	right: 0;

	-webkit-animation: dropdown 1.5s ease-in-out;
	-moz-animation: dropdown 1.5s ease-in-out;
	-o-animation: dropdown 1.5s ease-in-out;
	animation: dropdown 1.5s ease-in-out;
}

.coverCircle{
	z-index: 2;
	position: absolute;
	top: 50vh;
	border-radius: 50%;
	border: 1px solid transparent;
	background-color: white;
	height: 80px;
	width: 80px;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 100px;
}

.desktop{
	display: none;
}

.mobile{
	display: block;
}

.arrow{
	height: 100%;
	width: 100%;
	position: relative;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI2IDI2IiBoZWlnaHQ9IjI2cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNiAyNiIgd2lkdGg9IjI2cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwb2x5Z29uIGZpbGw9IiMyMzFGMjAiIHBvaW50cz0iMC4wNDYsMi41ODIgMi4xMywwLjQ5OCAxMi45NjcsMTEuMzM0IDIzLjgwMywwLjQ5OCAyNS44ODcsMi41ODIgMTIuOTY3LDE1LjUwMiAgIi8+PHBvbHlnb24gZmlsbD0iIzIzMUYyMCIgcG9pbnRzPSIwLjA0NiwxMy41ODIgMi4xMywxMS40OTggMTIuOTY3LDIyLjMzNCAyMy44MDMsMTEuNDk4IDI1Ljg4NywxMy41ODIgMTIuOTY3LDI2LjUwMiAgIi8+PC9nPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px;
	margin: auto;
}

@media (min-width: 1200px){

	.coverCircle{
		position: fixed;
	}

	.coverTitle{
		position: fixed;
		top: 25vh;
	}	

	.navbar li{
		margin-left: 20px;
	}

	#menuCircle{
		display: none;
	}
}

.navbar{
	margin: 0;
	min-width: 100%;
	z-index: 1;
	padding: 0;
	border: 1px solid black;
	border: 1px solid transparent;
}

.bottom{
	bottom: 0;
	position: absolute;
	background-color: rgba(0,0,0,0);
}

.sticky{
	top: 0;
	position: fixed;
	border-bottom-color: black;
	background-color: rgba(255,255,255,0.8);
}

.navbar ul{
	list-style: none;	
	margin-left: 5%;
}

.navbar li{
	margin: 20px;
	position: relative;
  	float: left;
}

.navbar .right{
	position: relative;
	float: right;
}

.navbar li a{
	text-decoration: none;
	color: white;
}


#menuCircle{
	right: 0;
	bottom: 10%;
	position: fixed;
	z-index: 2;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.6);
	border: 2px solid rgba(255,255,255,0.9);
	box-shadow: 0 0 0 2px rgba(0,0,0,0.8);
	color: white;
	text-align: center;
	font-size: 100%;
	line-height: 60px;
}

p{
	text-align: justify;
}

.section{
	padding-top: 50px;
}

#space{
	height: 100px;
}

#about .imgWrapper{
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border: 1px solid black;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	margin-bottom: 20px;
	border-radius: 5px;
	background-image: url("../images/kai.png");
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-origin: content-box;
	overflow: hidden;
	transition: box-shadow 0.5s ease-in-out, background-size 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

#about .imgWrapper:hover{
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	background-size: 105% auto;
	border-radius: 50%;
}

#skills h5{
	margin-bottom: 0;
}

#skills h6{
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	text-align: center;
	display: inline;
}

#skills a{
	text-decoration: none;
	color: black;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}

#skills .desktop{
	display: none;
}

#skills .mobile{
	float:right;
	display: inline;
	height: auto;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.progress > p{
	text-align: center;
	transition: font-size 0.5s ease-in-out;
}

.progress:hover > p{
	font-size: 17px;
}

#contact{
	width: 100%;
	color: white;
	background-color: rgba(28, 34, 40, 0.9);
}

#contact input{
	color: #789092;
}

#contact textarea{
	color: #789092;
	height: auto;
}

#contact .button{
	width: 100%;
}

#contact ul{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
	display: table;
}

#contact ul li{
	display: inline;
	margin: 7px;
}

#contact ul li a{
	text-decoration: none;
	color: rgb(255,255,255);
}

#contact ul li a > svg path{
	transition: fill 0.5s ease-in-out;
}

#contact ul li a:hover > svg path{
	fill: #FFFFFF;
}

#portfolio{
	z-index: -1;
	min-height: auto;
}

.garage{
	width: 100%;
	background-color: rgba(50,50,50,1);
}

.garage h4{
	color: white;
}

.garage-container{
	margin-left: auto;
	margin-right: auto;
    overflow: hidden;
}

.img-wrapper{
	display: block;
	height: 150px;
	width: 150px;
	background-color: gray;
	border: 1px solid white;
	margin: 20px;
	transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
	transform-origin: center center;
	margin-left: auto;
	margin-right: auto;
}

.img-wrapper:hover{
	/*transform: scale(1.1);*/
	height: 170px;
	width: 170px;
}

#imdb2{
	background-image: url("../images/imdb2.png");
	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

@media (min-width: 700px){
	.navbar ul{
		margin-left: 10%;
	}

	.coverTitle{
		top: 25vh;
	}

	.mobile{
		display: none;
	}

	.desktop{
		display: block;
	}

	#contact .button{
		float: right;
		width: auto;
	}
}

@media (min-width: 550px){
	#skills h6{
		display: block;
	}

	#skills .mobile{
		display: none;
	}

	#skills .desktop{
		display: block;
		height: 80px;
		width: 80px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#portfolio{
		z-index: -1;
		min-height: 1000px;
	}

	.garage{
		width: 100%;
		height: 500px;
		background-color: rgb(50,50,50,1);
		display: table;
	    position: absolute;
	}

	.garage-container{
		display: table-cell;
	    vertical-align: middle;
	    overflow: hidden;
	    white-space: nowrap;
	}

	.img-wrapper{
		display: inline-block;
		height: 200px;
		width: 150px;
		background-color: gray;
		border: 1px solid white;
		margin: 20px;
		transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
		transform-origin: center center;
	}

	.img-wrapper:hover{
		/*transform: scale(1.1);*/
		height: 220px;
		width: 170px;
	}
}