html{
	height: 100%
}
body{
	max-width: 100%;
	min-height: 100%;
}

.cover{
	height: 100vh;
	width: 100%;
	background-color: gray;
	overflow: hidden;
}

.wrapper{
	height: 100%;
	width: 100%;
}

.coverImg{
	background-image: url("../images/coverImg.jpg");
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
	/*-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);*/
}

.coverTitle{
	font-family: 'Tangerine', cursive;
	position: absolute;
	top: 40vh;
	text-align: center;
	text-shadow: 10px 10px 20px #FFFFFF;
	left: 0;
	right: 0;
}

.coverCircle{
	z-index: 2;
	position: absolute;
	top: 50vh;
	border-radius: 50%;
	border: 1px solid transparent;
	background-color: white;
	height: 80px;
	width: 80px;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 100px;
}

.desktop{
	display: none;
}

.mobile{
	display: inline;
}

.arrow{
	height: 100%;
	width: 100%;
	position: relative;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI2IDI2IiBoZWlnaHQ9IjI2cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNiAyNiIgd2lkdGg9IjI2cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwb2x5Z29uIGZpbGw9IiMyMzFGMjAiIHBvaW50cz0iMC4wNDYsMi41ODIgMi4xMywwLjQ5OCAxMi45NjcsMTEuMzM0IDIzLjgwMywwLjQ5OCAyNS44ODcsMi41ODIgMTIuOTY3LDE1LjUwMiAgIi8+PHBvbHlnb24gZmlsbD0iIzIzMUYyMCIgcG9pbnRzPSIwLjA0NiwxMy41ODIgMi4xMywxMS40OTggMTIuOTY3LDIyLjMzNCAyMy44MDMsMTEuNDk4IDI1Ljg4NywxMy41ODIgMTIuOTY3LDI2LjUwMiAgIi8+PC9nPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px;
	margin: auto;
}

@media (min-width: 1200px){

	.coverCircle{
		position: fixed;
	}

	.coverTitle{
		position: fixed;
		top: 25vh;
	}	

	.navbar li{
		margin-left: 20px;
	}

	#menuCircle{
		display: none;
	}
}

@media (min-width: 700px){
	.coverTitle{
		top: 25vh;
	}

	.mobile{
		display: none;
	}

	.desktop{
		display: inline;
	}
}

.navbar{
	margin: 0;
	min-width: 100%;
	z-index: 1;
	padding: 0;
	border: 1px solid black;
	border: 1px solid transparent;
}

.bottom{
	bottom: 0;
	position: absolute;
	background-color: rgba(0,0,0,0);
}

.sticky{
	top: 0;
	position: fixed;
	border-bottom-color: black;
	background-color: rgba(255,255,255,0.8);
}

.navbar ul{
	list-style: none;	
	margin-left: 100px;
}

.navbar li{
	margin: 20px;
	position: relative;
  	float: left;
}

.navbar li a{
	text-decoration: none;
	color: white;
}

#menuCircle{
	right: 0;
	bottom: 10%;
	position: fixed;
	z-index: 2;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.6);
	border: 2px solid rgba(255,255,255,0.9);
	box-shadow: 0 0 0 2px rgba(0,0,0,0.8);
	color: white;
	text-align: center;
	font-size: 100%;
	line-height: 60px;
}

p{
	text-align: justify;
}
