.tag {
  display: inline-flex;
  background-color: #eee;
  border-radius: 830726em;
  padding: 0 0.9em;
  justify-content: space-around;
  align-items: center;
  height: 2.5em;
  line-height: 1.6em;
  font-size: 0.8em;
  margin: 0.3em 0;

  & > span {
    margin-right: 0.5em;
  }
}
