:root {
  --imgWidth: 180px;
}

.preview {
  position: relative;
  display: flex;
  width: 100%;
  flex-basis: var(--imgWidth);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  box-sizing: content-box;
  margin-bottom: 1.5em;
  overflow: hidden;
  justify-content: space-between;
  transition: box-shadow 0.15s ease-out;

  &:nth-of-type(2n) .img {
    order: 2;
  }

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  }

  @media (--mobile) {
    flex-direction: column;

    &:nth-of-type(2n) .img {
      order: 0;
    }
  }
}

.img {
  font-size: 0;
  width: var(--imgWidth);
  height: var(--imgWidth);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: var(--imgWidth);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;

  &:hover img {
    width: 100%;
  }

  & .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
  }

  & img {
    width: calc(100% - 20px);
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.15s ease-out;
  }

  @media (--mobile) {
    width: 100%;
    flex-basis: 100%;
    height: 0;
    padding-bottom: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0.8em 1em;
  font-size: 1em;
  flex-grow: 1;
}

.title {
  font-size: 1.1em;
}

.description {
  font-size: 0.85em;
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.icons {
  display: flex;
  padding: 0;
}

.icon {
  font-size: 1.2rem;
  color: var(--colorPrimaryDark);
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.15s ease-out;

  & > :global(.SVGInline) {
    display: inline-flex;
    align-items: center;
    height: 1.6em;
  }

  & svg {
    width: 1.2em;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.skills {
  padding: 0;
  font-size: 0.9em;

  & > span {
    margin-right: 5px;
    margin-bottom: 0;
  }
}
