.link {
  display: inline-flex;
  align-items: center;
  padding: 0.4em 1em;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  color: var(--colorText);
  white-space: nowrap;
  margin: 0.3em 0;
  transition: box-shadow 0.15s ease-out;

  & > span:first-of-type {
    display: inline-flex;
    align-items: center;
    margin-right: 0.3em;
    height: 1em;
    width: 1em;

    @media (--mobile) {
      margin-right: 0;
    }
  }

  & svg {
    height: 1em;
    width: 1em;
  }

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    text-decoration: none;
  }

  @media (--mobile) {
    border-radius: 50%;
    padding: 10px;
    margin: 0.3em 5px 5px;
    justify-content: center;
    align-items: center;

    & .name {
      display: none;
    }
  }
}
