:root {
  --nav-item-padding: 30px;
}

.header {
  position: fixed;
  /* stretch */
  left: 0;
  right: 0;
  top: 0;
  color: var(--colorNeutralDark);
  z-index: 100;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: calc(100% - (var(--nav-item-padding) * 2));
  margin: 0 auto;
  padding: 0;
  line-height: 3rem;
  height: 60px;
}

.navPart1,
.navPart2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  padding: 0 var(--nav-item-padding);
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.15s all;
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus {
    color: inherit;
    opacity: 1;
    border-bottom-color: var(--colorNeutralLight);
    background-color: #fffF;
  }
}

.link svg {
  fill: currentColor;
  opacity: 0.5;
  margin-right: 0.5rem;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.home {
  font-size: 22px;
  color: #333;
  border-bottom: 1px solid #333;
  line-height: 1.5em;
  padding: 0 3px;
  text-decoration: none;
  transition: all 0.15s;

  &:focus,
  &:hover {
    text-decoration: none;
    background-color: #fffF;
  }
}
