.wrapper {
  display: flex;
  flex-direction: column;
  width: calc(60em - 120px);
  margin: 1rem auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  padding: 2rem 4rem;
  transition: all 0.15s ease-out;

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.title {
  align-self: center;
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 1em;
}

.meta {
  font-size: 0.9rem;
  opacity: 0.6;
}

.description {
  font-size: 1rem;
}

.readMore {
  /* align-self: center; */
  display: inline-flex;
  margin-top: 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: 0 !important;
  text-decoration: none !important;
}
