.footer {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.phenomicReference {
  font-size: 0.75rem;
  opacity: 0.6;
  color: inherit;
  text-decoration: none;

  @media (--mobile) {
    & > span {
      white-space: nowrap;
      display: block;
      text-align: center;
    }
  }
}

.phenomicReferenceName {
  font-weight: 100;
}
