.cover {
  height: calc(100vw / 1024 * 400);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: color(var(--colorSecondary) a(60%));
  }

  & > .coverTitle {
    z-index: 10;
    color: #FFF;
    font-size: 3rem;
    margin: auto 2em;
  }
}

.container {
  width: 80%;
  background-color: #fff;
  min-height: calc(100vh - 140px);
  position: relative;
  left: 0;
  right: 0;
  margin: 70px auto;
  padding: 40px 80px;
  box-sizing: border-box;
  max-width: var(--maxWidth);
}
