.cover {
  height: 400px;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  filter: blur(0px);
  transition: filter 0.2s ease-out;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF9;
  }

  & > img {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  & > .coverTitle {
    z-index: 10;
  }
}

.container {
  width: 80%;
  background-color: #fff;
  min-height: calc(100vh - 140px);
  position: relative;
  left: 0;
  right: 0;
  margin: 70px auto;
  padding: 40px 80px;
  box-sizing: border-box;
  max-width: var(--maxWidth);
}
